@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #444444;
    background-size: cover;
    filter: brightness(85%);    
}
/*styling for quote section*/
#quote-section {
    position: relative;
    top: 200px;
    left: 10%;
    width: 80%;
}
.quote {
    font-size: 3.5rem;
    position: relative;
    text-shadow: 0 1px #444444;
    margin: auto;
}
.quote::before, .quote::after {
    font-size: 3.5rem;
    position: absolute;
}
.quote::before {
    content: "“";
    position: relative;
}
.quote::after {
    content: "“";
    position: relative;
}
.source {
    position: relative;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin-right: 6%;
    display: flow-root;
}
.source::before {
    content: "-";
}
#load-quote {
    position: relative;
    display: inline-block;
    font-size: 25px;
    left: 45%;
    top: 250px;
    width: 7rem;
    color: #444444;
    border-radius: 4px;
    border: 2px solid #836896;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 6px 0;
    transition: 1s;
}
#load-quote:hover {
    color: #ff7a59;
    border: #ff7a59 solid 1px;
    background: transparent;
}

