@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');
* {
    margin: 0;
}

/*styling for home page, heading and start button*/
#welcome {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 80%;
    font-size: 3rem;
    display: flex;
    background: border-box;
}
#hero-body img {
    position: fixed;
    display: flex;
    background-size: cover;
    width: 100%;
    height: 100%;
}
h1 {
    font-size: 3rem;
}
#hero {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    text-align: center;
    min-height: 400px;
    padding: 40px;
    color: gray;
    border-radius: 10px;
    border: 10px solid rgb(208,164,145);
    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 90%);
    position: absolute;
    left: 18%;
    top: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #444444;
}


/*styling for quote section*/
#quote-body {
    background-image: url(../images/cloud.webp);
    background-color: ivory;
    display: flex;
    background-color: transparent;
    background-size: cover;
}
#quote-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    text-align: center;
    min-height: 400px;
    padding: 40px;
    color: gray;
    border-radius: 10px;
    background-color: antiquewhite;
    border: 10px solid rgb(208,164,145);
    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 90%);
    position: absolute;
    left: 18%;
    top: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #444444;
}
#load-quote {
    position: absolute;
    display: flex;
    top: 85%;
    left: 45%;
    background-color: transparent;
    flex-wrap: nowrap;
    justify-content: center;
}
#load-quote:hover {
    color: #836896;
    border: #836896 solid 1px;
    background: transparent;
}
.quote {
    font-size: 3rem;
    position: relative;
    text-shadow: 0 1px #444444;
    margin: auto;
}
.quote::before, .quote::after {
    font-size: 3rem;
    position: absolute;
}
.quote::before {
    content: "“";
    position: relative;
}
.quote::after {
    content: "“";
    position: relative;
}
.source {
    position: relative;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin-right: 6%;
    display: flow-root;
}
.source::before {
    content: "-";
}

/*styling for buttons*/
.button {
    position: relative;
    display: inline-block;
    font-size: 25px;
    width: 7rem;
    color: #444444;
    font-weight: 100;
    border-radius: 4px;
    border: 2px solid #836896;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3px;
    transition: 1s;
}
.button:hover {
    color: #836896;
    border: #836896 solid 1px;
    background: transparent;
}
#start {
    position: absolute;
    top: 85%;
    left: 45%;
    background-color: transparent;
}
#start:hover {
    color: #836896;
    border: #836896 solid 1px;
    background: transparent;
}
 /* Media queries for responsive design */
/* For large to medium screens sizes from 2560px wide and down */
@media screen and (max-width: 2560px){
    #hero {
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 5%;
    }
    #welcome {
    font-size: 5rem;
    }
    #start {
    width: 10%;
    font-size: 3.5rem;
    height: auto;
    top: 75%;
    }

    #quote-section {
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 5%;
    }
    .quote  {
    font-size: 5rem;
    }
    #load-quote {
    width: 10%;
    font-size: 3.5rem;
    height: auto;
    top: 75%;
    }
    .source {
    font-size: 4rem;
    }
}
/* For large to medium screens sizes from 1440px wide and down */
@media screen and (max-width: 1440px){
    #hero {
        min-height: 50%;
        width: 57%;
        top: 12%;
        left: 16%;
        padding: 4%;
    }
    #welcome {
        font-size: 3rem;
    }
    #start {
        top: 90%;
        height: auto;
        font-size: 2rem;
    }
    #quote-section {
        min-height: 50%;
        width: 57%;
        top: 12%;
        left: 16%;
    }
    .quote {
        font-size: 3rem;
    }
    .source {
        font-size: 2.5rem;
    }
    #load-quote {
        top: 90%;
        height: auto;
        font-size: 2rem;
    }
}
/* For large to medium screens sizes from 1024px wide and down */
@media screen and (max-width: 1024px){
    #hero {
          }
    #welcome {
        font-size: 2.5rem;
    }
    #start {
        font-size: 2rem;
        top: 87%;
    }
    #load-quote {
        font-size: 2rem;
        height: 8%;
    }
    .quote {
        font-size: 2.5rem;
    }
    .source {
        font-size: 2rem;
    }
}

/* For medium tablet screens sizes from 768px wide and down */
@media screen and (max-width: 768px){
    #hero {
        min-height: 40%;
        width: 57%;
        top: 12%;
        left: 16%;
    }
    #welcome {
        font-size: 2.5rem;
    }
    #start {
        top: 75%;
        font-size: 1.7rem;
        height: auto;
    }
    #quote-section {
        min-height: 40%;
    }
    #quote-body {
        background-size: inherit;
    }
    #load-quote {
        top: 75%;
        font-size: 1.7rem;
        height: auto;
    }
}
/* For medium to large phone screens sizes from 425px wide and down */
@media screen and (max-width: 425px){
    #welcome {
        font-size: 2.5rem;
        position: absolute;
    }
    #hero {
        padding: 40px;
        margin-left: -5%;
    }
    #start {
        position: absolute;
        width: 20%;
        height: 10%;
        left: 41%;
    }

    #quote-section {
        min-height: 20%;
        position: sticky;
        margin-right: 10%;
    }
    #load-quote {
        position: relative;
        top: 18%;
        width: 20%;
        height: 10%;
        left: 41%;
    }
    .quote {
        font-size: 2.5rem;        
    }
    .source {
        font-size: 1.5rem;
        margin-top: 8%;
    }
}
/* For medium phone screens sizes from 375px wide and down */
@media screen and (max-width: 375px) {
    #hero {
        margin-left: -5%;
        padding: 40px;
    }
    #start {
        width: 20%;
        height: auto;
    }
    .quote {
        font-size: 2.4rem;
    }
    #quote-section {
        padding: 30px;
    }
    #load-quote {
        position: relative; 
}
}
/* For small phone screens sizes from 320px wide and down */
@media screen and (max-width: 320px) {
    #welcome {
        font-size: 2rem;
    }
    #hero {
        padding: 30px;
    }
    #start {
        height: auto;
        width: auto;
    }
    #quote-section {
        margin-left: 20px;
    }
    .quote {
        font-size: 2rem;
    }
    .source {
        text-align: center;
        font-size: 1.5rem;
    }
    #load-quote {
        font-size: 1.5rem;
        top: 15%;
        height: auto;
    }
}